@media screen and (max-width:768px) {
    header {
        justify-content: space-between;
        width: 100%;
    }


    header li {
        display: none;
    }


    #icon-bars {
        display: inline;
        margin-right: 50px;
    }

    .card {
            height: 450px;
    }
    
    .biggest {
            height: 600px;
    }
    .card:nth-child(2){
            height:600px;
    }

     .conteiner-2 {
            flex-direction: column;
    
     }
    
    .column {
            width: 100%;
            height: 1000px;
    }
 }
@media screen and (max-width:480px) {
    #icon-bars {
        margin-right: 30px;
    }

    .card {
        width: 100%;
        height: 400px;
    }

    .card:nth-child(2) {
        height: 400px;
    }

    .biggest.card {
        height: 800px;
    }

}