@media screen and (max-width:768px) {
    header {
        justify-content: space-between;
        width: 100%;
    }


    header li {
        display: none;
    }


    #icon-bars {
        display: inline;
        margin-right: 50px;
    }

    .card {
            height: 450px;
    }
    
    .biggest {
            height: 600px;
    }
    .card:nth-child(2){
            height:600px;
    }

     .conteiner-2 {
            flex-direction: column;
    
     }
    
    .column {
            width: 100%;
            height: 1000px;
    }
     .testimonials-text {
         width: 100%;
         height: 250px;
         font-size: 30px;
         margin-top: 5px;
    }
    
     .testimonials {
         width: 100%;
         height: 250px;
     }

    .benefits {
       width: 45%;
       height: 450px;
     }

    .about-us {
      height: 1000px;
    }

    .conteiner-six {
         height: 500px;
    }

    .end-title {
        max-width: 500px;
         height: 250px;
     }
 }
@media screen and (max-width:480px) {
    #icon-bars {
        margin-right: 30px;
    }

    .card {
        width: 100%;
        height: 400px;
    }

    .card:nth-child(2) {
        height: 400px;
    }

    .biggest.card {
        height: 800px;
    }

     .testimonials-text {
       height: 500px;
        font-size: 35px;
     }
    
     .testimonials {
        height: 700px;
         margin-bottom: 40px;
     }

    .benefits {
        width: 100%;
        height: 600px;
     }

     .about-us {
        width: 100%;
        height: 1000px;
    
     }
    
    .linkedin {
        width: 100%;
        height: 750px;
    }

    .conteiner-six {
         height: 800px;
     }

    .end-title {
        max-width: 350px;
          height: 400px;
     }
}