body {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.979);
}


header {
    width: 100%;
    background-color: rgb(27, 139, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

header img {
    width: 50px;
    vertical-align: center;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

#icon-bars{
    display:none;
}

.conteiner {
    max-width: 1100px;
    background-color: rgb(43, 60, 248);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin-top: 50px
}

.card {
    background-color: aquamarine;
    width: calc(30%);
    height: 300px;
    margin: 0 auto;

}

.biggest {
    width: 63.8%;

}

/*SECTION 2*/
.section-2{
    background-color: rgb(225, 222, 222);
}
.conteiner-2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(154, 61, 241);
    margin-top: 200px;
    display: flex;

}

.column {
    width: 50%;
    height: 700px;
    border: 1px solid black;
}