body {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.979);
}


header {
    width: 100%;
    background-color: rgb(27, 139, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

header img {
    width: 50px;
    vertical-align: center;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

#icon-bars{
    display:none;
}

.conteiner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin-top: 50px
}

.card {
    background-color: aquamarine;
    width: calc(30%);
    height: 300px;
    margin: 0 auto;

}

.biggest {
    width: 63.8%;

}

/*SECTION 2*/
.section-2{
    background-color: rgb(225, 222, 222);
}
.conteiner-2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(154, 61, 241);
    margin-top: 200px;
    display: flex;

}

.column {
    width: 50%;
    height: 700px;
    border: 1px solid black;
}

/*SECTION-3*/
.testimonials-text {
    text-align: center;


}

.testimonials-text h1 {
    color: rgb(151 146 228)
}


.testimonials {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1100px;
    height: 200px;
    background-color:rgb(151 146 228);
    border-radius: 10px;
    margin-top: 10px;
}

.testimonial-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 10px;

}

.testimonial-date {
    margin-left: 35px;
    margin-right: 35px;
}

.testimonial-date p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.testimonial-date h3 {
    color: white;
    font-size: 20px;
}

/*Section-4*/
 .section-4{
    background-color:#9792e4
 }

.four{
    margin-top:300px;

}
.benefits {
    background-color: white;
    width: calc(30%);
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10%;
}


.benefits h1 {
    color: #9792e4;
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
}

.benefits h2 {
    font-weight: bold;
    color: #9792e4;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.benefits p {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.benefits button {
    background-color: #9792e4;
    border: 0px solid #9792e4;
    color: white;
    padding: 10px;
    border-radius: 50px;
    width: 30%;
    margin-left: 10px;

}
/*SECTION 5*/

.about-us {
    width: 65%;
    height: 600px;
}

.about-us h1 {
    color: #9792e4;
    font-weight: bold;
    font-size: 70px;
}

.about-us p {
    font-size: 20px;
    margin-top: 25px;
    line-height: 35px;


}

.linkedin {
    width: 30%;
    height: 600px;
}

.linkedin-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.linkedin h2 {
    font-size: 35px;
    font-weight: bold;
    color: #9792e4;
    margin-top: 20px;

}

.linkedin button {
    color: white;
    background-color: #9792e4;
    border: 0px solid;
    padding: 15px;
    margin-top: 20px;
}

/*SECTION 6*/
.section-six {
    background-color: #9792e4;


}

.conteiner-six {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    height: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.conteiner-six h2 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
}

.conteiner-six h1 {
    color: #fdc15f;
    font-size: 60px;
    margin-top: 10px;
}

.conteiner-six :first-child {
    color: #f1f0ff;

}

.conteiner-six :last-child {
    margin-top: 30px;
}

.conteiner-six p {
    color: white;
    margin-top: 10px;
}

.conteiner-six button {
    background-color: white;
    color: #cfcef2;
    padding: 20px;
    border-radius: 50px;
    margin-top: 20px;
    border: 0px solid transparent;

}

/*FOOTER*/
footer {
    width: 100%;
    background-color:rgb(51 51 51);
    display: flex;
    justify-content: center
}

.end-title {
    text-align: center;
    max-width: 300px;
    

}

.end-title p {
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
}

.end-title span {
    color: white;
}

.end-title:last-child {
    margin-bottom: 30px
}